# Path to the model directory
MODEL_PATH=/path/to/your/model

# cpu, cuda, None
DEVICE=cpu

# 0, 1
PROFILE=1

# 0, 1
QUANTIZE=1

# INFO, WANRING, ERROR
LOG_LEVEL=INFO

# Number of layers to load on this node
NUM_LAYERS=10

# The IP address of this device (optional, auto-detected if not set)
IP=192.168.1.X

GPRC_PORT=5001
CLIENT_PORT=5002

# Address of the bootstrap node (Required for all nodes except the head)
# format: <IP>:<PORT>
BOOTSTRAP_NODE_ADDR=192.168.1.X:5001